# Dependencias
node_modules/
npm-debug.log*

# Variables de entorno
.env

# Credenciales de Google
credentials-google.json
# Allow package files for npm
!package.json
!package-lock.json
# Block other json files
*.json

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log 