# Dependencias
node_modules/
npm-debug.log*

# Variables de entorno
.env

# Credenciales de Google
credentials.json
*.json

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log 